@{
    ViewData["Title"] = "Phones";
}
@model IEnumerable<Phone>
<div class="text-center">
    <h2 class="display-4">Phones</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Sales date</th>
                <th>Supplier</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var phone in Model)
            {
                <tr>
                    <td>@phone.Id</td>
                    <td>@phone.Phone_name</td>
                    <td>@phone.Price</td>
                    <td>@phone.Color</td>
                    <td>@phone.Sales_date.ToShortDateString()</td>
                    <td>@phone.Supplier_id</td>
                    <td><a class="btn btn-warning" href="/Home/Edit/@phone.Id">Edit</a></td>
                    <td><a class="btn btn-danger" href="/Home/Delete/@phone.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Home/Add" class="btn btn-outline-success btn-lg">Add phone</a>
</div>
